.page_logo{
    width:100%;
    height: 100px;
  }
  .page_logo_img{
    width:100%;
    height: 100%;
  }
  .description_block{
    padding: 10px;
  }
  .profile_info{
    background-color: pink;
  }